@font-face {
    src: url(FiveYearsLaterRegular.otf);
    font-family: 'sleek';
    font-weight: bold;
}

@font-face {
    src: url(Fugue.otf);
    font-family: 'beauty room';
    font-weight: bold;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #F0FFF0;
    font-family: 'beauty room';
}

.background {
    z-index: 0;
}

.background span {
  width: 30vmin;
  height: 30vmin;
  border-radius: 30vmin;
  z-index: 1;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #FFEEDA;
  top: 80%;
  left: 43%;
  z-index: 1;
  animation-duration: 14.8s;
  animation-delay: -15.9s;
  transform-origin: 25vw -15vh;
  box-shadow: 40vmin 0 5.1821590618vmin currentColor;
}
.background span:nth-child(2) {
  color: #FFEEDb;
  top: 79%;
  left: 62%;
  z-index: 1;
  animation-duration: 13.7s;
  animation-delay: -8s;
  transform-origin: 3vw 2vh;
  box-shadow: 40vmin 0 5.2783264183vmin currentColor;
}
.background span:nth-child(3) {
  color: #FFEEDc;
  top: 64%;
  left: 25%;
  z-index: 1;
  animation-duration: 16s;
  animation-delay: -0.8s;
  transform-origin: 16vw -6vh;
  box-shadow: -40vmin 0 10.825079455vmin currentColor;
}
.background span:nth-child(4) {
  color: #FFEEDd;
  top: 17%;
  left: 56%;
  z-index: 1;
  animation-duration: 15.8s;
  animation-delay: -5.9s;
  transform-origin: -12vw -21vh;
  box-shadow: 40vmin 0 7.8893937393vmin currentColor;
}
.background span:nth-child(5) {
  color: #FFEEDe;
  top: 70%;
  left: 29%;
  z-index: 1;
  animation-duration: 11.9s;
  animation-delay: -6.3s;
  transform-origin: 17vw 7vh;
  box-shadow: -40vmin 0 10.1970055315vmin currentColor;
}
.background span:nth-child(6) {
  color: #FFEEDf;
  top: 61%;
  left: 33%;
  z-index: 1;
  animation-duration: 13.1s;
  animation-delay: -14.9s;
  transform-origin: -10vw 0vh;
  box-shadow: -40vmin 0 14.0927747033vmin currentColor;
}
.background span:nth-child(7) {
  color: #FFEEDA;
  top: 13%;
  left: 19%;
  z-index: 1;
  animation-duration: 13s;
  animation-delay: -11.5s;
  transform-origin: -4vw 2vh;
  box-shadow: 40vmin 0 6.6843032777vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFEEDb;
  top: 81%;
  left: 20%;
  z-index: 1;
  animation-duration: 13.8s;
  animation-delay: -13.9s;
  transform-origin: -14vw 24vh;
  box-shadow: -40vmin 0 9.3364859603vmin currentColor;
}
.background span:nth-child(9) {
  color: #FFEEDc;
  top: 99%;
  left: 16%;
  z-index: 1;
  animation-duration: 13.1s;
  animation-delay: -5.9s;
  transform-origin: -2vw 9vh;
  box-shadow: -40vmin 0 11.705493375vmin currentColor;
}
.background span:nth-child(10) {
  color: #FFEEDd;
  top: 85%;
  left: 82%;
  z-index: 1;
  animation-duration: 12.8s;
  animation-delay: -8.5s;
  transform-origin: -12vw -20vh;
  box-shadow: -40vmin 0 8.0774592763vmin currentColor;
}
.background span:nth-child(11) {
  color: #FFEEDe;
  top: 81%;
  left: 10%;
  z-index: 1;
  animation-duration: 12.4s;
  animation-delay: -7.8s;
  transform-origin: -7vw 25vh;
  box-shadow: -40vmin 0 12.3549383447vmin currentColor;
}
.background span:nth-child(12) {
  color: #FFEEDf;
  top: 89%;
  left: 70%;
  z-index: 1;
  animation-duration: 11.3s;
  animation-delay: -8s;
  transform-origin: -4vw 1vh;
  box-shadow: -40vmin 0 6.3516159321vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.contacts a {
    color: #FF6347;
    text-decoration: none;
}

.team a {
    color: #FF6347;
    text-decoration: none;
}

.instagram a {
    color: #FF6347;
    text-decoration: none;
}

.price a {
    color: #FF6347;
    text-decoration: none;
}

.contacts {
    position: fixed;
    z-index: 3;
    top: 10px;
    overflow: hidden;
    padding-top: 1%;
    padding-left: 1%;
    left: 30px;
}

.instagram {
    position: fixed;
    z-index: 3;
    top: 10px;
    overflow: hidden;
    padding-top: 1%;
    padding-right: 1%;
    right: 30px;
}

.price {
    position: fixed;
    z-index: 3;
    bottom: 10px;
    overflow: hidden;
    padding-bottom: 1%;
    padding-right: 1%;
    right: 30px;
}

.team {
    position: fixed;
    z-index: 3;
    bottom: 10px;
    overflow: hidden;
    padding-bottom: 1%;
    padding-left: 1%;
    left: 30px;
}

