@font-face {
    src: url(FiveYearsLaterRegular.otf);
    font-family: 'sleek';
    font-weight: bold;
}

@font-face {
    src: url(Fugue.otf);
    font-family: 'beauty room';
    font-weight: bold;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #F0FFF0;
    font-family: 'beauty room';
}

.contacts a {
    color: #FF6347;
    text-decoration: none;
}

.team a {
    color: #FF6347;
    text-decoration: none;
}

.instagram a {
    color: #FF6347;
    text-decoration: none;
}

.price a {
    color: #FF6347;
    text-decoration: none;
}

.contacts {
    position: fixed;
    z-index: 3;
    top: 10px;
    overflow: hidden;
    padding-top: 1%;
    padding-left: 1%;
    left: 30px;
}

.instagram {
    position: fixed;
    z-index: 3;
    top: 10px;
    overflow: hidden;
    padding-top: 1%;
    padding-right: 1%;
    right: 30px;
}

.price {
    position: fixed;
    z-index: 3;
    bottom: 10px;
    overflow: hidden;
    padding-bottom: 1%;
    padding-right: 1%;
    right: 30px;
}

.team {
    position: fixed;
    z-index: 3;
    bottom: 10px;
    overflow: hidden;
    padding-bottom: 1%;
    padding-left: 1%;
    left: 30px;
}

